@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* Slate-50 */
  --foreground: #0f172a;
  /* Slate-900 */
  color-scheme: light;
}

/* Force light mode for now to ensure visibility */
body {
  background: #ffffff;
  /* FORCE WHITE for Android 13 Dark Mode fix */
  color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
}